- provide(:title, "Graphic Design Selections")
.container
  %h1 Graphic Design Selections
  .examples
    = image_tag("graphic/1.jpg")
    = image_tag("graphic/2.jpg")
    = image_tag("graphic/3.jpg")
    = image_tag("graphic/4.jpg")
    = image_tag("graphic/5.jpg")
    = image_tag("graphic/6.jpg")
    = image_tag("graphic/7.jpg")
    = image_tag("graphic/8.jpg")
    = image_tag("graphic/9.jpg")
    = image_tag("graphic/10.jpg")