- provide(:title, "Web Design Selections")
.container
  %h1 Web Design Selections
  .examples
    = image_tag("web/0.png")
    = image_tag("web/00.png")
    = image_tag("web/1.png")
    = image_tag("web/2.png")
    / = image_tag("web/3.png")
    = image_tag("web/4.png")
    = image_tag("web/5.png")
    = image_tag("web/6.png")
    = image_tag("web/7.png")
    = image_tag("web/8.png")
    = image_tag("web/9.png")
    = image_tag("web/10.png")
    = image_tag("web/11.png")
    = image_tag("web/12.png")
    = image_tag("web/13.png")
    = image_tag("web/14.png")